{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },

  "plugins": [
    "react"
  ],

  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "experimentalObjectRestSpread": true,
    "forOf": true,
    "generators": true,
    "globalReturn": true,
    "jsx": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true
  },

  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },

  "rules": {
    "jsx-quotes": ["error", "prefer-double"],
    "array-bracket-spacing": ["error", "never"],
    "arrow-spacing": ["error"],
    "block-scoped-var": ["off"],
    "brace-style": ["error", "allman", {"allowSingleLine": false}],
    "callback-return": ["error"],
    "camelcase": ["error", {"properties": "always"}],
    "comma-dangle": ["off"],
    "comma-spacing": ["off"],
    "comma-style": ["error", "last"],
    "complexity": ["off"],
    "computed-property-spacing": ["error", "never"],
    "consistent-return": ["off"],
    "consistent-this": ["off"],
    "curly": ["error", "all"],
    "default-case": ["off"],
    "dot-location": ["error", "property"],
    "dot-notation": ["off"],
    "eol-last": ["error"],
    "eqeqeq": ["error"],
    "func-names": ["off"],
    "func-style": ["off"],
    "generator-star-spacing": ["off", {"before": true, "after": false}],
    "keyword-spacing": ["error", {"before": true, "after": false, "overrides": {
      "from": {"before": true, "after": true},
      "import": {"after": true},
      "case": {"after": true},
      "return": {"after": true},
      "const": {"after": true},
      "export": {"after": true}
    }}],
    "guard-for-in": ["error"],
    "handle-callback-err": ["error", "error"],
    "id-length": ["off"],
    "id-match": ["error", "^(?:_?[a-zA-Z0-9]*)|[_A-Z0-9]+$"],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "init-declarations": ["off"],
    "key-spacing": ["error", {"beforeColon": false, "afterColon": true}],
    "linebreak-style": ["off"],
    "lines-around-comment": ["off"],
    "max-depth": ["off"],
    "max-len": ["error", 150, 4, {"ignoreUrls": true, "ignoreComments": true, "ignorePattern": "^import\\s.+\\sfrom\\s.+;$"}],
    "max-nested-callbacks": ["off"],
    "max-params": ["off"],
    "max-statements": ["off"],
    "new-cap": ["off"],
    "new-parens": ["error"],
    "newline-after-var": ["off"],
    "no-array-constructor": ["error"],
    "no-bitwise": ["off"],
    "no-caller": ["error"],
    "no-catch-shadow": ["off"],
    "no-class-assign": ["error"],
    "no-cond-assign": ["error"],
    "no-console": ["warn", {"allow": ["warn", "error"]}],
    "no-const-assign": ["error"],
    "no-constant-condition": ["error"],
    "no-continue": ["off"],
    "no-control-regex": ["off"],
    "no-debugger": ["warn"],
    "no-delete-var": ["error"],
    "no-div-regex": ["error"],
    "no-dupe-args": ["error"],
    "no-dupe-keys": ["error"],
    "no-duplicate-case": ["error"],
    "no-else-return": ["error"],
    "no-empty": ["error"],
    "no-empty-character-class": ["error"],
    "no-eq-null": ["off"],
    "no-eval": ["error"],
    "no-ex-assign": ["error"],
    "no-extend-native": ["error"],
    "no-extra-bind": ["error"],
    "no-extra-boolean-cast": ["error"],
    "no-extra-parens": ["off"],
    "no-extra-semi": ["error"],
    "no-fallthrough": ["error"],
    "no-floating-decimal": ["error"],
    "no-func-assign": ["error"],
    "no-implicit-coercion": ["error"],
    "no-implied-eval": ["error"],
    "no-inline-comments": ["off"],
    "no-inner-declarations": ["error", "functions"],
    "no-invalid-regexp": ["error"],
    "no-invalid-this": ["off"],
    "no-irregular-whitespace": ["error"],
    "no-iterator": ["error"],
    "no-label-var": ["error"],
    "no-labels": ["off"],
    "no-lone-blocks": ["error"],
    "no-lonely-if": ["error"],
    "no-loop-func": ["off"],
    "no-mixed-requires": ["error", true],
    "no-mixed-spaces-and-tabs": ["error"],
    "no-multi-spaces": ["error"],
    "no-multi-str": ["error"],
    "no-multiple-empty-lines": ["off"],
    "no-native-reassign": ["off"],
    "no-negated-in-lhs": ["error"],
    "no-nested-ternary": ["off"],
    "no-new": ["error"],
    "no-new-func": ["off"],
    "no-new-object": ["error"],
    "no-new-require": ["error"],
    "no-new-wrappers": ["error"],
    "no-obj-calls": ["error"],
    "no-octal": ["error"],
    "no-octal-escape": ["error"],
    "no-param-reassign": ["error"],
    "no-path-concat": ["error"],
    "no-plusplus": ["off"],
    "no-process-env": ["off"],
    "no-process-exit": ["off"],
    "no-proto": ["error"],
    "no-redeclare": ["error"],
    "no-regex-spaces": ["error"],
    "no-restricted-modules": ["off"],
    "no-return-assign": ["error"],
    "no-script-url": ["error"],
    "no-self-compare": ["off"],
    "no-sequences": ["error"],
    "no-shadow": ["error"],
    "no-shadow-restricted-names": ["error"],
    "no-spaced-func": ["error"],
    "no-sparse-arrays": ["error"],
    "no-sync": ["error"],
    "no-ternary": ["off"],
    "no-this-before-super": ["error"],
    "no-throw-literal": ["error"],
    "no-trailing-spaces": ["error"],
    "no-undef": ["error"],
    "no-undef-init": ["error"],
    "no-undefined": ["off"],
    "no-underscore-dangle": ["off"],
    "no-unexpected-multiline": ["error"],
    "no-unneeded-ternary": ["error"],
    "no-unreachable": ["error"],
    "no-unused-expressions": ["error"],
    "no-unused-vars": ["error", {"vars": "all", "args": "after-used"}],
    "no-use-before-define": ["off"],
    "no-useless-call": ["error"],
    "no-var": ["off"],
    "no-void": ["error"],
    "no-warning-comments": ["off"],
    "no-with": ["error"],
    "object-curly-spacing": ["off", "always"],
    "object-shorthand": ["error", "always"],
    "one-var": ["error", {"var": "always", "let": "always", "const": "never"}],
    "operator-assignment": ["error", "always"],
    "operator-linebreak": ["error", "after"],
    "padded-blocks": ["off"],
    "prefer-const": ["off"],
    "prefer-reflect": ["off"],
    "prefer-spread": ["off"],
    "quote-props": ["error", "as-needed"],
    "quotes": ["error", "single", {"allowTemplateLiterals": true}],
    "radix": ["error"],
    "require-yield": ["error"],
    "semi": ["error", "always"],
    "semi-spacing": ["error", {"before": false, "after": true}],
    "sort-vars": ["off"],
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "never"}],
    "space-in-parens": ["off"],
    "space-infix-ops": ["error", {"int32Hint": false}],
    "space-unary-ops": ["error", {"words": true, "nonwords": false}],
    "spaced-comment": ["error", "always"],
    "strict": ["off"],
    "use-isnan": ["error"],
    "valid-jsdoc": ["off"],
    "valid-typeof": ["error"],
    "vars-on-top": ["off"],
    "wrap-iife": ["error"],
    "wrap-regex": ["off"],
    "yoda": ["error", "never", {"exceptRange": true}],
    "react/no-danger":  ["error"],
    "react/no-deprecated":  ["error"],
    "react/no-did-mount-set-state":  ["error"],
    "react/no-did-update-set-state":  ["error"],
    "react/no-direct-mutation-state":  ["error"],
    "react/no-is-mounted":  ["error"],
    "react/no-set-state": ["off"],
    "react/no-unknown-property":  ["error"],
    "react/prefer-es6-class": ["error", "always"],
    "react/prefer-stateless-function": ["error"],
    "react/prop-types": ["error", {"ignore": ["context", "children"]}],
    "react/react-in-jsx-scope": ["error"],
    "react/require-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/require-render-return": ["error"],
    "react/self-closing-comp": ["error"],
    "react/sort-comp": ["error"],
    "react/sort-prop-types": ["error"],
    "react/wrap-multilines": ["error"],
    "react/jsx-boolean-value": ["error", "always"],
    "react/jsx-closing-bracket-location": ["error"],
    "react/jsx-curly-spacing": ["error", "never"],
    "react/jsx-equals-spacing": ["error", "never"],
    "react/jsx-first-prop-new-line": ["error", "multiline"],
    "react/jsx-handler-names": ["error"],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-indent": ["error", 2],
    "react/jsx-key": ["error"],
    "react/jsx-max-props-per-line": ["off"],
    "react/jsx-no-bind": ["error", {"allowArrowFunctions": true}],
    "react/jsx-no-duplicate-props": ["error"],
    "react/jsx-no-undef": ["error"],
    "react/jsx-pascal-case": ["error"],
    "react/jsx-sort-props": ["error"],
    "react/jsx-space-before-closing": ["error", "always"],
    "react/jsx-uses-react": ["error"],
    "react/jsx-uses-vars": ["error"]
  }
}
